@charset "UTF-8";


*{
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

header{
    display: flex;
    background-color: #ffffff;
    height: 130px;
    align-items: center;
    justify-content: space-between;
}

header img{width: 180px; margin-left: 20px;}
header ul{display: flex; padding: 20px;}
header ul li{list-style-type: none; margin: 15px;}
header ul li:first-child{margin-left: 0px;}
header ul li:last-child{margin-right: 0px;}
header ul li a{text-decoration: none;color: black; font-size: 1.1em;}

@media (max-width:900px){
    header{
        flex-direction: column;
        justify-content: center; 
        height: 160px;
    }
    header img{
        width: 180px;
    }
    header ul{
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width:500px){
    header{
        flex-direction: column;
        justify-content: center; 
        height: 160px;
    }
    header img{
        width: 180px;
    }
    header ul{
        margin: 0px;
        padding: 0px;
    }
    header>ul>li>a{
        font-size: 0.9em;
    }
}

/*Apresentação*/
.apresentacao{
    display: flex;
    background-image: url(../img/pexels-img1.jpg);
    background-size: cover;
    height: 550px;
    opacity: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center center;
}
@media (max-width:900px){
    .apresentacao{
        background-position: center center;
    }
}

/*perfil*/
.perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0px 50px 0px;
}
.perfil h1{font-size: 1.8em; flex-basis: 100%; text-align: center; padding-bottom: 20px;}
.perfil p{flex-basis: 70%; padding: 20px; text-align: justify; font-size: 1em; letter-spacing: 0.7px;}



/*portfolio*/
.portfolio{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 50px 0px 50px 0px;
}

.portfolio h1{font-size: 1.8em; flex-basis: 100%; text-align: center; margin-bottom: 40px;}
.portfolio img{width: 31%; padding: 5px;}
.portfolio hr{width: 60%; border: solid black 1px; margin-bottom: 50px;}
@media (max-width:900px){
   .portfolio img{
    width: 49%;
   }
}


/*Depoimentos*/
.depoimentos{
    display: flex;
    flex-direction: row;
    padding: 40px 20px 100px 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.depoimentos h1{font-size: 1.8em;flex-basis: 100%;text-align: center;margin-bottom: 40px;}
.dep01,.dep02,.dep03{display: flex;flex-direction: column;align-items: center;width: 25%;}
.dep01 img,.dep02 img,.dep03 img{width: 120px;height: 120px;border-radius: 50%;margin: 20px 0px 30px 0px;}
.dep01 p,.dep02 p,.dep03 p{font-size: 0.9em; max-width: 90%; text-align: center; letter-spacing: 0.1em;}
.nome-dep{font-weight: bold;}

@media (max-width:900px){
   .dep02,.dep03{display: none;}
   .dep01{width: 70%;}
   .dep01 img{width: 200px; height: 200px;}
   .dep01 p{max-width: 90%;}
 }


 /*contato*/
 .contato{
    display: flex;
    height: 350px;
    background-color: #3a3d3f;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
 .contato>#info>h2{margin-top: 40%;margin-bottom: 30px;}
 .contato>#info>p{margin-bottom: 5px; font-weight: lighter;}
 .contato>#info>p>span{font-size: 0.9em;}
 .contato #criador{height: 10%;}
 .contato #criador p{font-size: 0.8em; font-weight: lighter;}