@charset "UTF-8";


*{
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

header{
    display: flex;
    background-color: #ffffff;
    height: 130px;
    align-items: center;
    justify-content: space-between;
}

header img{width: 250px; margin-left: 20px;}

header nav{display: flex; padding: 20px;}

header nav li{list-style-type: none; margin: 15px;}

header nav li:first-child{margin-left: 0px;}

header nav li:last-child{margin-right: 0px;}

header nav li a{text-decoration: none;color: black; font-size: 1.1em;}

@media (max-width:900px){
    header{
        flex-direction: column;
        justify-content: center;
    }
    header img{width: 250px;}

    header nav{
        margin: 0px;
        padding: 0px;
    }
}

/*Apresentação*/
.apresentacao{
    display: flex;
    background-image: url(../img/pexels-img1.jpg);
    background-size: cover;
    height: 500px;
    opacity: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center center;
}
@media (max-width:900px){
    .apresentacao{
        background-position: center center;
    }
}

/*perfil*/
.perfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #dff3fa;
    padding: 40px 0px 90px 0px;
}
.perfil h1{font-size: 1.8em; flex-basis: 100%; text-align: center; padding-bottom: 20px;}
.perfil p{flex-basis: 40%; padding: 20px; text-align: justify; font-size: 1em; letter-spacing: 0.7px;}